<div class="container">
  <div class="project-content">
    <% @projects.each do |project| %>
      <div class="panel panel-default">
        <div class="panel-heading">
        <h3 class="">
          <strong>Name: </strong><%= project.name %>
        </h3>
        </div>
        <div class="card-body">
          <div class="project-content">
            <%= raw(project.desc).truncate(358) %>
            <%= link_to 'Read more', project %>
          </div>
          <table class="table">
            <tr>
              <td>
                <span class="has-tooltip" data-toggle="tooltip" title="<%=project.public ? "Private" : "Public" %>">
                  <% if project.public? %>
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  <% else %>
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                  <% end %>
                </span>
              </td>
              <td><strong>stimate effort: </strong><%= project.estimated_effort %></td>
              <td><strong>actual effort: </strong><%= project.actual_effort %></td>
              <td><strong>status: </strong><%= project.status %></td>
              <td><strong>Created by:</strong><%= project.user.email %></td>
              <td>
                
                <% if policy(project).edit? %>
                  <%= link_to 'Edit', edit_project_path(project), class:"btn btn-default" %>
                <% end %>
                <% if policy(project).destroy? %>
                  <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>