<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 project-content">
    <% @projects.each do |project| %>
      <div class="col-xs-12">
        <div class="text-center">
          <h2><%= project.name %></h2>
        </div>
        <div>
          <div><%= raw(project.desc).truncate(358) %></div>
          <div>
            <%= project.public %>
            <%= project.estimated_effort %>
            <%= project.actual_effort %>
            <%= project.status %>
            <%= "made by :#{project.user.email}" %>
              <%= link_to 'Show', project, class:"btn btn-default" %>
              <% if policy(project).edit? %>
                <%= link_to 'Edit', edit_project_path(project), class:"btn btn-default" %>
              <% end %>
            <% if policy(project).destroy? %>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>