<p id="notice"><%= notice %></p>
<div class="col-sm-11 col-xs-12 blog-content">
  <p>
    <strong>Name:</strong>
    <%= @project.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= @project.desc %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= @project.public %>
  </p>

  <p>
    <strong>Estimated effort:</strong>
    <%= @project.estimated_effort %>
  </p>

  <p>
    <strong>Actual effort:</strong>
    <%= @project.actual_effort %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @project.status %>
  </p>
</div>

<div class ="container">
  <h2>Comments</h2>
  <% @project.comments.each do |comment| %>
    <div>
      <p>
        <%="%s:%s" %[comment.user.email,comment.text]%>
      </p>
    </div>
      
  <% end %>
</div>
<div class="container">
  <h2>Add Comment</h2>
  <%= simple_form_for([@project, @project.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.input :text,  as: :text%>
      </div>
      <div class="form-group">
        <%= f.button :submit %>
      </div>
  <% end %>
</div>
<%= link_to 'Edit', edit_project_path(@project), class:"btn btn-default" %> |
<%= link_to 'Back', projects_path, class:"btn btn-default" %>
